* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

button, input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

body {
  min-height: 1000px;
}

.header {
  position: relative;
  min-height: 700px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}
.header__top {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 30px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: white;
  padding: 10px 20px;
  color: black;
}
.header__search-icon {
  color: white;
  font-size: 2rem;
  margin: 0 30px;
}
.header__bars-icon {
  margin-right: 10px;
  font-size: 2rem;
  cursor: pointer;
}
.header__login-register {
  color: orange;
  font-size: 1.2rem;
}
.header__main {
  margin: 50px 0 0 150px;
}
.header__title {
  display: inline-block;
  text-align: right;
  color: white;
}
.header__info {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3;
  color: white;
  padding: 30px 0;
}
.header__read-btn {
  background-color: white;
  padding: 30px 40px;
  font-size: 2em;
}
.header__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 150px;
}

.button {
  border-radius: 35px;
  border: none;
}

.label {
  color: white;
  background-color: #f7941d;
  font-weight: bold;
  font-size: 50px;
}

.pic-1 {
  background-image: url(../images/about-img.jpg);
  background-position: center;
  background-size: cover;
  height: 900px;
  position: relative;
  background-color: white;
  text-align: right;
  padding: 100px;
}
.pic-1__title {
  color: black;
}
.pic-1__title span {
  color: #f7941d;
}
.pic-1__info {
  line-height: 1.5;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}
.pic-1__read-btn {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 30px;
}
.pic-1__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 200px;
  width: 100px;
  height: 80px;
}

.pic-2 {
  background-color: #f7941d;
  text-align: right;
  padding: 70px 150px;
}
.pic-2__title {
  color: black;
}
.pic-2__title span {
  color: white;
}
.pic-2__info {
  font-weight: bold;
  line-height: 1.5;
  font-size: 23px;
  margin: 20px 0;
}
.pic-2__pics {
  margin-top: 50px;
  display: grid;
  grid-gap: 30px;
  height: 1000px;
  grid-template-areas: "pic-1 pic-1 pic-1 pic-2 pic-2" "pic-3 pic-3 pic-4 pic-4 pic-4" "pic-3 pic-3 pic-5 pic-5 pic-5";
}
.pic-2__pic {
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: 3px solid black;
}
.pic-2__pic:nth-child(1) {
  background-image: url(../images/gallery-img1.jpg);
}
.pic-2__pic:nth-child(2) {
  background-image: url(../images/gallery-img2.jpg);
}
.pic-2__pic:nth-child(3) {
  background-image: url(../images/gallery-img3.jpg);
}
.pic-2__pic:nth-child(4) {
  background-image: url(../images/gallery-img4.jpg);
}
.pic-2__pic:nth-child(5) {
  background-image: url(../images/gallery-img5.jpg);
}

.pic-3 {
  border: 1px solid black;
  padding: 100px 100px 200px;
  position: relative;
}
.pic-3__title {
  color: #353434;
}
.pic-3__info {
  color: #353434;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.4;
  margin: 50px 0;
}
.pic-3__read-btn {
  background-color: black;
  padding: 20px 50px;
  color: white;
  font-size: 30px;
}
.pic-3__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 100px;
  height: 80px;
}

.contact {
  padding: 40px 0;
  text-align: center;
  background-image: url(../images/email-img.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.contact__title {
  color: white;
}
.contact__title span {
  color: orange;
}
.contact__form {
  text-align: center;
  border-radius: 15px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.788);
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  margin-top: 40px;
}
.contact__input {
  border: 1px solid black;
  text-indent: 15px;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px 0;
  background-color: transparent;
  width: 95%;
}
.contact__area {
  border: 1px solid black;
  outline: none;
  width: 95%;
  padding: 20px 0 0;
  text-indent: 15px;
  font-size: 25px;
  margin: 10px 0 0;
  height: 200px;
  resize: vertical;
  background-color: transparent;
}
.contact__send-btn {
  border: none;
  background-color: #f7941d;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.footer {
  padding: 20px 0;
  background-color: #272222;
  color: white;
}
.footer__content {
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer__top-section {
  display: flex;
  align-items: center;
}
.footer__top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border: 1px dashed #f7941d;
  margin-right: 10px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__info-body {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.6;
  font-weight: bold;
}
.footer__links li {
  margin: 10px 0;
  font-weight: normal;
}
.footer__links li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f7941d;
  vertical-align: middle;
  margin-right: 10px;
}
.footer__overview li {
  margin: 10px 0;
  font-weight: normal;
}
.footer__overview li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f7941d;
  vertical-align: middle;
  margin-right: 10px;
}
.footer__imgs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 80px 80px;
  grid-gap: 20px;
}
.footer__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.footer__social-links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  justify-content: center;
}
.footer__social-link {
  color: white;
  font-size: 40px;
  margin: 0 30px;
  cursor: pointer;
}
.footer__hr {
  height: 3px;
  color: white;
  background-color: white;
  margin: 40px 0;
}
.footer__end {
  text-align: center;
  color: #b1b0b0;
  font-weight: bold;
}

@media (max-width: 1124px) {
  .footer__content {
    width: 100%;
    padding: 0 10px;
  }
  .footer__top {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer__top-section {
    margin: 20px 0;
  }
  .footer__info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer__info-section {
    margin: 20px 0;
  }
}
@media (max-width: 1104px) {
  .pic-2 {
    padding: 70px 10px;
  }
  .pic-2__pics {
    height: initial;
    grid-template-areas: "pic-1" "pic-2" "pic-3" "pic-4" "pic-5";
    grid-template-rows: 500px 500px 500px 500px 500px;
  }
}
@media (max-width: 716px) {
  .header {
    position: relative;
  }
  .header__login-register {
    display: none;
  }
  .header__search-icon {
    display: none;
  }
  .header__label {
    display: none;
  }
  .header__title {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__read-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
  }

  .pic-1 {
    position: relative;
  }
  .pic-1__label {
    display: none;
  }
  .pic-1__info {
    color: white;
  }
  .pic-1__read-btn {
    left: 0;
    bottom: 10px;
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 514px) {
  .pic-3 {
    position: relative;
    padding: 10px 10px 100px;
  }
  .pic-3__label {
    display: none;
  }
  .pic-3__read-btn {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media (max-width: 439px) {
  .header__menu-btn {
    color: white;
    background-color: transparent;
  }
  .header__menu-t {
    display: none;
  }
}
.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 999;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.swiper_anim-open {
  animation-name: swiper-open;
}
.swiper_anim-close {
  animation-name: swiper-close;
}
.swiper__link {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
  transition: color 0.2s linear;
}
.swiper__link:hover {
  color: #f7941d;
}
.swiper__close-btn {
  position: absolute;
  font-size: 40px;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.2s linear;
}
.swiper__close-btn:hover {
  color: #f7941d;
}

@keyframes swiper-close {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes swiper-open {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
