.contact {
  padding: 40px 0;
  text-align: center;
  background-image: url(../images/email-img.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  &__title {
    color: white;

    span {
      color: orange;
    }
  }
  &__form {
    text-align: center;
    border-radius: 15px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.788);
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
  }
  &__input {
    @include border;
    text-indent: 15px;
    font-size: 25px;
    margin: 10px 0;
    padding: 15px 0;
    background-color: transparent;
    width: 95%;
  }
  &__area {
    @include border;
    outline: none;
    width: 95%;
    padding: 20px 0 0;
    text-indent: 15px;
    font-size: 25px;
    margin: 10px 0 0;
    height: 200px;
    resize: vertical;
    background-color: transparent;
  }
  &__send-btn {
    border: none;
    background-color: $main-color;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
