.footer {
  padding: 20px 0;
  background-color: #272222;
  color: white;

  &__content {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__top-section {
    display: flex;
    align-items: center;
  }
  &__logo {}
  &__top-icon {
    @include center;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border: 1px dashed $main-color;
    margin-right: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__info-title {}
  &__info-section {
    
  }
  &__info-body {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.6;
    font-weight: bold;
  }
  &__about {}
  &__links {
    li {
      margin: 10px 0;
      font-weight: normal;
    }
    li::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: $main-color;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  &__overview {

    li {
      margin: 10px 0;
      font-weight: normal;
    }
    li::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: $main-color;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  &__instagram {

  }
  &__imgs {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 80px 80px;
    grid-gap: 20px;
  }
  &__img {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__social-links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: center;
  }
  &__social-link {
    color: white;
    font-size: 40px;
    margin: 0 30px;
    cursor: pointer;
  }

  &__hr {
    height: 3px;
    color: white;
    background-color: white;
    margin: 40px 0;
  }
  &__end {
    text-align: center;
    color: #b1b0b0;
    font-weight: bold;
  }
}
