.header {
  position: relative;
  min-height: 700px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;

  &__top {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 30px;
  }
  &__left {}
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {}
  &__menu-btn {
    @include center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    padding: 10px 20px;
    color: black;
  }
  &__search-icon {
    color: white;
    font-size: 2rem;
    margin: 0 30px;
  }
  &__bars-icon {
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  &__login-register {
    color: orange;
    font-size: 1.2rem;
  }
  &__main {
    margin: 50px 0 0 150px;
  }
  &__title {
    display: inline-block;
    text-align: right;
    color: white;
  }
  &__info {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 3;
    color: white;
    padding: 30px 0;
  }
  &__read-btn {
    background-color: white;
    padding: 30px 40px;
    font-size: 2em
  }
  &__label {
    @include center;
    width: 100px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 150px;
  }
}
