.main {

  &__pic-1 {

  }
}

.pic-1 {
  background-image: url(../images/about-img.jpg);
  background-position: center;
  background-size: cover;
  height: 900px;
  position: relative;
  background-color: white;
  text-align: right;
  padding: 100px;

  &__title {
    color: black;

    span {
      color: $main-color;
    }
  }
  &__info {
    line-height: 1.5;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
  }
  &__read-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 30px;
  }
  &__label {
    @include center;
    position: absolute;
    bottom: 0;
    right: 200px;
    width: 100px;
    height: 80px;
  }
}

.pic-2 {
  background-color: $main-color;
  text-align: right;
  padding: 70px 150px;

  &__title {
    color: black;

    span {
      color: white;
    }
  }
  &__info {
    font-weight: bold;
    line-height: 1.5;
    font-size: 23px;
    margin: 20px 0;
  }
  &__pics {
    margin-top: 50px;
    display: grid;
    grid-gap: 30px;
    height: 1000px;
    grid-template-areas:
      'pic-1 pic-1 pic-1 pic-2 pic-2'
      'pic-3 pic-3 pic-4 pic-4 pic-4'
      'pic-3 pic-3 pic-5 pic-5 pic-5';
  }
  &__pic {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: 3px solid black;
    
    &:nth-child(1) {
      background-image: url(../images/gallery-img1.jpg);
    }
    &:nth-child(2) {
      background-image: url(../images/gallery-img2.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/gallery-img3.jpg);
    }
    &:nth-child(4) {
      background-image: url(../images/gallery-img4.jpg);
    }
    &:nth-child(5) {
      background-image: url(../images/gallery-img5.jpg);
    }
  }
}

.pic-3 {
  @include border;
  padding: 100px 100px 200px;
  position: relative;

  &__title {
    color: #353434;
  }
  &__info {
    color: #353434;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.4;
    margin: 50px 0;
  }
  &__read-btn {
    background-color: black;
    padding: 20px 50px;
    color: white;
    font-size: 30px;
  }
  &__label {
    @include center;
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 100px;
    height: 80px;
  }
}
