@media (max-width: 1124px) {
  .footer {

    &__content {
      width: 100%;
      padding: 0 10px;
    }
    &__top {
      align-items: flex-start;
      flex-direction: column;
    }
    &__top-section {
      margin: 20px 0;
    }
    &__info {
      align-items: flex-start;
      flex-direction: column;
    }
    &__info-section {
      margin: 20px 0;
    }
  }
}

@media (max-width: 1104px) {
  .pic-2 {
    padding: 70px 10px;
  
    &__pics {
      height: initial;
      grid-template-areas: 
        'pic-1'
        'pic-2'
        'pic-3'
        'pic-4'
        'pic-5';
      grid-template-rows: 500px 500px 500px 500px 500px;
    }
    &__pic {}
  }
}

@media (max-width: 716px) {
  .header {
    position: relative;

    &__top {
      height: auto;
      padding: 0 10px;
    }
    &__menu-btn {
      padding: 0;
    }
    &__logo {
      height: 70px;
    }
    &__login-register {
      display: none;
    }
    &__search-icon {
      display: none;
    }
    &__label {
      display: none;
    }
    &__title {
      display: none;
    }
    &__info {
      display: none;
    }
    &__read-btn {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 10px;
    }
  }

  .pic-1 {
    position: relative;
    height: auto;
    padding: 10px 10px 100px;

    &__label {
      display: none;
    }
    &__info {
      color: white;
      font-size: 16px;
    }
    &__read-btn {
      left: 0;
      bottom: 10px;
      position: absolute;
      width: 100%;
    }
  }
}

@media (max-width: 514px) {
  .pic-3 {
    position: relative;
    padding: 10px 10px 100px;

    &__label {
      display: none;
    }
    &__title {
      font-size: 40px;
    }
    &__info {
      font-siez: 16px;
    }
    &__read-btn {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 439px) {
  .header {

    &__menu-btn {
      color: white;
      background-color: transparent;
    }
    &__menu-t {
      display: none;
    }
  }
}
