* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

button, input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

body {
  min-height: 1000px;
}
