.swiper {
  @include center;
  overflow: hidden;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 999;
  animation: {
    duration: .4s;
    timing-function: linear;
    fill-mode: forwards;
  }

  &_anim-open {
    animation-name: swiper-open;
  }
  &_anim-close {
    animation-name: swiper-close;
  }
  &__link {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    transition: color .2s linear;

    &:hover {
      color: $main-color;
    }
  }
  &__close-btn {
    position: absolute;
    font-size: 40px;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    transition: color .2s linear;

    &:hover {
      color: $main-color;
    }
  }
}

@keyframes swiper-close {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes swiper-open {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
