@import "../initial/variables";
@import "../initial/mixins";

.main {
  & {
    width: 60%;
    margin: 0 auto;
  }
}

.about {
  & {
    // background-color: rgb(255, 255, 255);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
  }
  &__hello {
    font-size: 35px;
    font-weight: bold;
    color: #0f0f0f;
  }
  &__img-container {
    background-color: #e7e7e7;
    // background-color: lightcoral;
    flex-basis: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  &__avatar {
    @include border(1px, grey);
    border-radius: 50%;
    z-index: 2;
    height: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: bottom .2s linear, left .2s linear;

    &:hover {
      bottom: 20px;
      left: 20px;
    }
  }
  &__text {
    padding: 10px;
    padding-left: 30px;
    white-space: pre-line;
    font-size: 16px;
    color: rgba(0,0,0,.65);
  }
  &__sub-text {
    color: rgba(0,0,0,.29);
    font-weight: bold;
    font-size: 20px;
  }
}

@media screen and (max-width: 615px) {
  .about {
    & {
      margin-top: 10px;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__img-container {
      flex-basis: initial;
      width: 150px;
      height: 150px;
    }
    &__avatar {
      position: static;
    }
    &__text {
      color: black;
      margin-top: 30px;
      padding: 5px;
    }
  }
}

.info {
  & {
    margin-top: 100px;
  }
  &__title {
    
  }
  &__table {
    margin-top: 30px;
  }
  &__table-cell {
    padding: 20px;
  }
}

.skills {
  & {
    margin-top: 100px;
  }
  &__title {}
  &__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
  &__skill {
    & {
      background-color: white;
      // box-shadow: 0 0 50px rgba(134, 131, 131, 0.205);
      position: relative;
      padding: 10px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: transform .2s linear;
    }
    &:hover {
      transform: translateY(-10px);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 8px;
      background-color: black;
      z-index: 1;
    }
    &:nth-child(1)::after {
      background-color: rgb(62, 201, 243);
    }
    &:nth-child(2)::after {
      background-color: rgb(16, 185, 44);
    }
    &:nth-child(3)::after {
      background-color: rgb(219, 107, 2);
    }
    &:nth-child(4)::after {
      background-color: rgb(15, 130, 165);
    }
    &:nth-child(5)::after {
      background-color: rgb(166, 6, 206);
    }
    &:nth-child(6)::after {
      background-color: rgb(211, 15, 15);
    }
    &-img {
      height: 60px;
    }
    &-title {
      user-select: none;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 526px) {
  .skills {
    & {
      margin-top: 50px;
    }
    &__list {
      grid-template-columns: auto;
      grid-gap: 5px;
    }
    &__skill {
      & {
        // @include border(1px, rgba(0, 0, 0, 0.452));
        box-shadow: none;
        // box-shadow: 0 0 30px rgba(0, 0, 0, 0.075)
      }
      &-img {
        height: 40px;
      }
      &-title {
        font-size: 24px;
      }
    }
  }
}

.languages {
  & {
    margin-top: 100px;
  }
  &__title {}
  &__table {
    border: none;
    padding: 10px;
    border-collapse: collapse;
    width: 70%;
  }
  &__row {
    & {}
    &:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.452);
    }
  }
  &__cell {
    & {
      // min-width: 250px;
      width: 50%;
      padding: 20px 10px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
    }
    &:nth-child(1) {
      border-right: 1px solid rgba(0, 0, 0, 0.452);
    }
  }
  &__cell-sub {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.384);
  }
  &__lang-bar {
    width: 100%;
    height: 20px;
    border-radius: 35px;
    background-color: #e0e0e0;

    &-inner {
      height: 100%;
      background-color: #7e62b1;
      border-radius: 35px;

      &--fluent {
        width: 100%;
      }
      &--c1 {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 704px) {
  .languages {
    & {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &__cell {
      font-size: 16px;
    }
    &__cell-sub {
      font-size: 13px;
    }
    &__table {
      width: 100%;
    }
  }
}

@media screen and (max-width: 467px) {
  .languages {
    &__cell {
      font-size: 16px;
      padding: 10px 5px;
    }
    &__lang-bar {
      height: 15px;
    }
  }
}

.why-choose {
  & {
    margin-top: 100px;
  }
  &__title {

  }
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    @include border();
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__item-img {
    width: px;
    height: 100px;
    @include border();
  }
  &__item-title {
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (max-width: 916px) {
  .main {
    & {
      width: 100%;
      padding: 0 15px;
    }
  }
}
