@import "../initial/variables";
@import "../initial/mixins";

.main {
  & {
    margin: 0 auto;
    width: 60%;
  }
  &__title {
    margin-top: 40px;
    line-height: 1;
  }
  &__subtitle {
    color: rgba(0, 0, 0, 0.582);
    line-height: 1;
    font-size: 20px;
  }
}

.ques {
  & {
    margin-top: 50px;
  }
  &__que {
    & {
      border: 3px solid rgb(120, 0, 136);
      background-color: white;
      cursor: pointer;
      padding: 20px;
      margin: 10px 0;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      color: rgb(22, 20, 20);
      font-size: 30px;
      font-weight: bold;
    }
    &-answer {
      & {
        margin-top: 20px;
      }
    }
    &--closed {
      & {
        box-shadow: 0 0 1px black;
        border-color: transparent;
      }
      .ques__que-answer {
        display: none;
      }
    }
  }
  .fa-sort-down {
    font-size: 25px;
  }
}

@media screen and (max-width: 747px) {
  .main {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 489px) {
  .ques {
    & {}
    &__que {
      & {
        padding: 10px;
      }
      &-title {
        font-size: 18px;
      }
    }
  }
}
