*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F7F4FF;
}

ul {
  list-style-type: none;
}

input, button {
  border: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 25px;
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
.header {
  border: 3px solid black;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: white;
  position: relative;
}
.header__scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(-50%);
  animation-name: up-down;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
.header__phone-number {
  display: none;
}
.header__bars {
  display: none;
}

.fas.fa-arrow-down {
  vertical-align: middle;
  font-weight: bold;
}

@keyframes up-down {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}
@media screen and (max-width: 757px) {
  .header {
    min-height: initial;
    position: sticky;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__scroll {
    display: none;
  }
  .header__phone-number {
    display: initial;
  }
  .header__bars {
    display: initial;
    font-size: 30px;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}
.header-nav__link {
  margin: 0 15px;
  font-size: 18px;
  user-select: none;
}
.header-nav__link a {
  color: white;
}
.header-nav__link--active a {
  color: #9273cd;
}
.header-nav__phone-number {
  position: absolute;
  left: 20px;
  font-size: 20px;
  user-select: none;
}
.header-nav__bars {
  display: none;
}
.header-nav__close {
  display: none;
}

@media screen and (max-width: 757px) {
  .header-nav {
    border: 2px solid black;
    padding: 20px;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transition: transform 0.2s linear;
    transform: translateX(100%);
  }
  .header-nav--opened {
    transform: translateX(0%);
  }
  .header-nav--closed {
    transform: translateX(100%);
  }
  .header-nav__link {
    color: black;
  }
  .header-nav__phone-number {
    display: none;
  }
  .header-nav__close {
    display: initial;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
  }
}
.footer {
  border: 1px solid black;
  background-color: #171717;
  margin-top: 100px;
  padding: 70px;
  display: flex;
  justify-content: center;
}
.footer__column {
  margin: 0 70px;
}
.footer__column-title {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}
.footer__column-items {
  display: flex;
  flex-direction: column;
}
.footer__column-item {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.2s linear;
}
.footer__column-item:hover {
  color: white;
}
.footer .fab {
  font-size: 30px;
  vertical-align: middle;
}

.line {
  height: 3px;
  margin: 10px 0 60px;
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

/*# sourceMappingURL=index.css.map */
