.footer {
  & {
    @include border();
    background-color: #171717;
    margin-top: 100px;
    padding: 70px;
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    display: flex;
  }
  &__column {
    // @include border(3px, yellow);
    margin: 0 70px;
  }
  &__column-title {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-weight: bold;
  }
  &__column-items {
    display: flex;
    flex-direction: column;
  }
  &__column-item {
    color: hsla(0, 0%, 100%, .5);
    line-height: 1;
    margin: 10px 0;
    cursor: pointer;
    transition: color .2s linear;

    &:hover {
      color: white;
    }
  }
  .fab {
    font-size: 30px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 997px) {
  .footer {
    & {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
    &__wrapper {
      padding-left: 30px;
      flex-direction: column;
    }
    &__column {
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 516px) {
  .footer {
    & {
      padding: 10px;
      padding-left: 40px;
      align-items: flex-start;
      line-height: 1;
      margin-top: 30px;
    }
    &__column-item {
      margin: 3px 0;
    }
  }
}
