.header {
  & {
    @include border(3px);
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: white;
    position: relative;
  }
  &__logo {
    text-align: center;
    font-size: 60px;
  }
  &__scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-50%);
    animation-name: up-down;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
}

.fas.fa-arrow-down {
  vertical-align: middle;
  font-weight: bold;
}

@keyframes up-down {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}
