.header {
  & {
    @include border(3px);
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: white;
    position: relative;
  }
  &__scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-50%);
    animation-name: up-down;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
  &__phone-number {
    display: none;
  }
  &__bars {
    display: none;
  }
}

.fas.fa-arrow-down {
  vertical-align: middle;
  font-weight: bold;
}

@keyframes up-down {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}

@media screen and (max-width: 757px) {
  .header {
    & {
      background-image: none;
      background-color: black;
      min-height: initial;
      position: sticky;
      padding: 0px 10px;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 997;
    }
    &__scroll {
      display: none;
    }
    &__phone-number {
      display: initial;
      font-size: 25px;
    }
    &__bars {
      display: initial;
      font-size: 30px;
      background-color: rgb(132, 1, 184);
      padding: 4px 8px;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 383px) {
  .header {
    & {}
    &__phone-number {
      font-size: 15px;
    }
  }
}
