.header-nav {
  & {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  &__link {
    margin: 0 15px;
    font-size: 18px;

    a {
      color: white;
    }
  }
  &__link--active {
    a {
      color: #9273cd;
    }
  }
}