.header {
  background-color: rgb(0, 0, 0);
  padding: 100px 0 100px 0;
  text-align: center;

  &__title {

  }
  &__sub-title {
    color: white;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;

    &::first-line {
      color: #00B9F7;
    }
  }
  &__items {
    margin: 50px 0;
  }
  &__form {
    
  }
  &__links {
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
    
  }
}

.links__link {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00B9F7;
  color: #00B9F7;
  margin: 0 5px;
  transition: background-color .2s linear;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: #00B9F7;
    color: white;
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  border: 3px solid #00B9F7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items__item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px 0 10px;
  font-size: 2rem;
}

.item__number {
  color: white;
}

.item__label {
  color: #00B9F7;
  font-size: 16px;
}

.title {
  color: white;
}

.form {
 
  &__title {
    margin-bottom: 20px;
  }
}

.submit {
  background-color: #00B9F7;
  color: white;
  cursor: pointer;
}

.form__submit {
  height: 40px;
  width: 100px;
  font-weight: bold;
  
  &:hover {
    background-color: #056383;
  }
}

.form__input {
  height: 40px;
  width: 250px;
  color: white;

  &:focus {
    box-shadow: 0 0 5px white;
  }
}

.input {
  border: 1px solid #00B9F7;
  background-color: transparent;
  text-indent: 20px;
}

.main {
  text-align: center;
  padding: 60px 0 0 0;

  &__about {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  &__item {
    margin: 0 20px;
    width: 300px;
    text-align: center;
  }
  &__text {
    color: grey;
  }
  &__title {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
}

.item-main {
  width: 100px;
  height: 100px;
  border: 3px solid #00B9F7;
  color: #00B9F7;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color .2s linear;

  &:hover {
    background-color: #00B9F7;
    color: white;
  }
}

.present {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.present__line {
  width: 200px;
  height: 1px;
  background-color: #00B9F7;
  
}

.present__icon {
  margin: 0 20px;
  font-size: 25px;
  border: 1px solid #00B9F7;
  padding: 10px;
  color: #00B9F7;
}

.main__title {
  color: black;
  margin: 10px 0;
}

.main__items {
  justify-content: space-around;
}

.main__item {
  color: #00B9F7;
}

