@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  font-size: 16px;
}

body.lock {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

button, input {
  outline: none;
  background-color: inherit;
  border: none;
}

button {
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}

h1, .h1 {
  font-size: 65px;
}

h2, .h2 {
  font-size: 43px;
}

h3, .h3 {
  font-size: 20px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.intro-img-container {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-image: url(./images/intro.png);
  background-size: cover;
  background-position: center;
}
@media all and (max-width: 768px) {
  .intro-img-container {
    height: 100vh;
  }
}

.header {
  color: white;
}
.header__body {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 24px;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-link {
  font-weight: 600;
  font-size: 18px;
}
.header__nav-link:not(:first-child) {
  margin: 0 0 0 50px;
}
.header__book-btn {
  border-radius: 5px;
  width: 163px;
  height: 51px;
  background-color: #c9453b;
}
.header__burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 5px;
  width: 37px;
  height: 37px;
}
.header__burger-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header__burger-icon {
  font-size: 30px;
}
.header__burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(100%);
  transition: all 0.2s ease-in;
  display: flex;
}
.header__burger-menu--opened {
  transform: translateX(0);
}
.header__burger-menu-nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.header__burger-menu-nav-link {
  font-size: 30px;
  font-weight: 600;
}
.header__burger-menu-nav-link:not(:first-child) {
  margin: 20px 0 0 0;
}
.header__burger-menu-nav-link:hover {
  color: #ffc700;
}
.header__burger-menu-close-btn {
  border: 1px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}
.header__burger-menu-close-btn:hover {
  background-position: rgba(0, 0, 0, 0.2);
}
.header__burger-menu-book-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  width: 120px;
  height: 45px;
  border-radius: 6px;
  background-color: #c9453b;
}

@media all and (max-width: 768px) {
  .header__body {
    height: 60px;
  }
  .header__nav {
    display: none;
  }
  .header__book-btn {
    display: none;
  }
  .header__burger-btn {
    display: block;
  }
}
.intro {
  color: white;
  flex-grow: 1;
}
.intro__container, .intro__body {
  height: 100%;
}
.intro__body {
  padding: 166px 0 0 0;
}
.intro__title {
  max-width: 804px;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
}
.intro__about {
  margin: 30px 0 0 0;
  font-size: 18px;
  line-height: 28px;
  max-width: 458px;
}
.intro__more-btn {
  margin: 40px 0 0 0;
  background-color: #c9453b;
  border-radius: 5px;
  width: 187px;
  height: 59px;
}

@media all and (max-width: 768px) {
  .intro__body {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-center;
  }
  .intro__title {
    font-size: 40px;
    line-height: normal;
  }
}
.location {
  margin: 140px 0 0 0;
}
.location__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.location__title {
  text-align: center;
}
.location__about {
  align-self: center;
  margin: 20px 0 0 0;
  text-align: center;
  max-width: 735px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.6;
}
.location__cards {
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 31px;
  grid-row-gap: 31px;
}
.location__card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.location__card--with-shadow {
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}
.location__card-img {
  width: 100%;
  height: 331px;
  object-fit: cover;
}
.location__card-body {
  padding: 35px 27px 33px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.location__card-about {
  font-size: 18px;
  line-height: 28px;
  margin: 10px 0 0 0;
  opacity: 0.6;
  text-align: center;
}

@media all and (max-width: 768px) {
  .location {
    margin: 70px 0 0 0;
  }
  .location__cards {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
.offers {
  margin: 140px 0 0 0;
  overflow-x: hidden;
}
.offers__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers__about {
  margin: 20px 0 0 0;
  text-align: center;
  opacity: 0.6;
  max-width: 658px;
  line-height: 28px;
  font-size: 18px;
}
.offers .swiper {
  margin: 60px 0 0 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.offers .swiper-slide {
  display: flex !important;
  justify-content: center !important;
}
.offers .swiper-button-prev, .offers .swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: white !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
  user-select: none !important;
}
.offers .swiper-button-prev::after, .offers .swiper-button-next::after {
  content: "" !important;
}
.offers .swiper-custom-scrollbar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media all and (max-width: 768px) {
  .offers .swiper {
    overflow: hidden !important;
  }
}
.blog {
  padding: 140px 0 0 0;
}
.blog__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__about {
  max-width: 581px;
  opacity: 0.6;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
}
.blog__grid {
  margin: 56px 0 0 0;
  align-self: stretch;
  display: grid;
  grid-template-areas: "item-1 item-2" "item-1 item-3" "item-1 item-4";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-column-gap: 32px;
  grid-row-gap: 30px;
}
.blog__item-img {
  object-fit: cover;
}
.blog__grid-item:nth-child(1) {
  grid-area: item-1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.blog__grid-item:nth-child(1) .blog__item-img {
  width: 100%;
}
.blog__grid-item:nth-child(1) .blog__item-body {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}
.blog__grid-item:nth-child(1) .blog__item-title {
  font-weight: 500;
  line-height: 32px;
}
.blog__grid-item:nth-child(1) .blog__item-about {
  margin: 10px 0 0 0;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.6;
}
.blog__grid-item:nth-child(1) .blog__item-social-link {
  margin: 5px 0 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.blog__grid-item:nth-child(2), .blog__grid-item:nth-child(3), .blog__grid-item:nth-child(4) {
  display: flex;
}
.blog__grid-item:nth-child(2) .blog__item-img, .blog__grid-item:nth-child(3) .blog__item-img, .blog__grid-item:nth-child(4) .blog__item-img {
  height: 100%;
  width: 50%;
}
.blog__grid-item:nth-child(2) .blog__item-body, .blog__grid-item:nth-child(3) .blog__item-body, .blog__grid-item:nth-child(4) .blog__item-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 0 0 0 27px;
}
.blog__grid-item:nth-child(2) .blog__item-title, .blog__grid-item:nth-child(3) .blog__item-title, .blog__grid-item:nth-child(4) .blog__item-title {
  font-weight: 500;
  line-height: 30px;
}
.blog__grid-item:nth-child(2) .blog__item-about, .blog__grid-item:nth-child(3) .blog__item-about, .blog__grid-item:nth-child(4) .blog__item-about {
  margin: 10px 0 0 0;
  font-size: 18px;
  opacity: 0.6;
  line-height: 28px;
}
.blog__grid-item:nth-child(2) .blog__item-social-link, .blog__grid-item:nth-child(3) .blog__item-social-link, .blog__grid-item:nth-child(4) .blog__item-social-link {
  margin: 5px 0 0 0;
  font-size: 20px;
  line-height: 30px;
}
.blog__grid-item:nth-child(2) {
  grid-area: item-2;
}
.blog__grid-item:nth-child(3) {
  grid-area: item-3;
}
.blog__grid-item:nth-child(4) {
  grid-area: item-4;
}

@media all and (max-width: 768px) {
  .blog__grid {
    grid-template-columns: 100%;
    grid-row-gap: 50px;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4";
    grid-template-rows: auto auto auto auto;
  }
  .blog__grid-item:nth-child(2), .blog__grid-item:nth-child(3), .blog__grid-item:nth-child(4) {
    flex-direction: column;
  }
  .blog__grid-item:nth-child(2) .blog__item-img, .blog__grid-item:nth-child(3) .blog__item-img, .blog__grid-item:nth-child(4) .blog__item-img {
    width: 100%;
  }
  .blog__grid-item:nth-child(2) .blog__item-body, .blog__grid-item:nth-child(3) .blog__item-body, .blog__grid-item:nth-child(4) .blog__item-body {
    width: 100%;
    padding: 10px 0 0 0;
  }
}
.footer {
  margin: 142px 0 0 0;
  background-color: rgba(38, 148, 153, 0.04);
}
.footer__body {
  padding: 70px 0 79px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__logo {
  font-size: 24px;
  line-height: 36px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__column-1 .footer__items {
  margin: 40px 0 0 0;
}
.footer__column-1 .footer__item {
  font-weight: 400;
}
.footer__column-1 .footer__item:not(:first-child):not(:last-child) {
  margin: 10px 0 0 0;
}
.footer__item {
  line-height: 25px;
  font-weight: 500;
}
.footer__item:not(:first-child) {
  margin: 20px 0 0 0;
}
.footer__social-icons-item {
  display: flex;
  align-items: center;
}
.footer__social-icons-item > * {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}
.footer__social-icons-item > :not(:first-child) {
  margin: 0 0 0 27px;
}
.footer__title {
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.footer__send {
  margin: 42px 0 0 0;
  display: flex;
  height: 44px;
  width: 333px;
}
.footer__send-input {
  width: 195px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-indent: 10px;
}
.footer__send-input::placeholder {
  color: black;
}
.footer__send-btn {
  margin: 0 0 0 44px;
  background-color: #c9453b;
  color: white;
  border-radius: 5px;
  width: 103px;
}

@media all and (max-width: 768px) {
  .footer__body {
    padding: 30px 0 30px 0;
    flex-direction: column;
  }
  .footer__column:not(:first-child) {
    margin: 50px 0 0 0;
  }
  .footer__item {
    line-height: 20px;
    font-weight: 500;
  }
  .footer__item:not(:first-child) {
    margin: 10px 0 0 0;
  }
  .footer__column-1 .footer__items {
    margin: 20px 0 0 0;
  }
  .footer__send {
    margin: 20px 0 0 0;
    height: 30px;
  }
  .footer__send-btn {
    margin: 0 0 0 10px;
    width: 70px;
  }
}
.offer {
  width: 262px;
  height: 334px;
  display: flex;
  flex-direction: column;
}
.offer__img {
  display: block;
  height: 50%;
  object-fit: cover;
}
.offer__body {
  height: 50%;
  padding: 20px 0 0 0;
  display: grid;
  grid-template-areas: "title    title" "location rating" "info     info" "price    price";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
}
.offer__title {
  grid-area: title;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  display: flex;
  align-items: center;
}
.offer__location {
  grid-area: location;
  display: flex;
  align-items: center;
}
.offer__rating {
  grid-area: rating;
  display: flex;
  align-items: center;
}
.offer__info {
  grid-area: info;
  display: flex;
  align-items: center;
}
.offer__price {
  grid-area: price;
  display: flex;
  align-items: center;
}
.offer__location-icon {
  color: #fc1200;
}
.offer__star-icon {
  color: #ffc700;
}
.offer__text--bold {
  font-weight: 500;
}
.offer__text--muted {
  opacity: 0.6;
}
.offer__text--bigger {
  font-size: 18px;
}

@media all and (max-width: 768px) {
  .offer {
    width: 100%;
  }
}