@media (max-width: 1260px) {
  .facts-panel__facts {
    flex-direction: column;
    align-items: center;
  }

  .fact {
    margin: 20px 0;
    max-width: 100%;
  }
}

@media (max-width: 1163px) {
  .footer__sections {
    flex-direction: column;
  }
  .footer__social {
    margin: 40px 0;
  }
  .footer__contact {
    width: 100%;
  }
  .footer__send {
    display: none;
    max-width: 100%;
  }
}

@media (max-width: 1031px) {
  .header__toggle-icon {
    display: inline;
  }
  .nav {
    $nav-width: 200px;
    padding: 10px 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -$nav-width;
    width: $nav-width;
    background-color: white;

    &__link {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }
  .header__close-icon {
    display: inline;
  }
}

@media (max-width: 858px) {
  .info {
    flex-direction: column;
  }
}
