@import "reset";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;

  &__logo {
    font-size: 40px;
  }
  &__toggle-icon {
    position: absolute;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;

    &:hover {
      color: grey;
    }
  }
  &__close-icon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;

    &:hover {
      color: grey;
    }
  }
}

.nav {
  animation: {
    timing-function: linear;
    fill-mode: forwards;
    duration: .2s;
  }

  &__link {
    margin: 0 60px;
    font-size: 20px;
    color: grey;
    cursor: pointer;

    &_selected {
      color: red;
    }
  }
  &_anim-open {
    animation-name: nav_open;
  }
  &_anim-close {
    animation-name: nav_close;
  }
}

.button {
  background-color: black;
  cursor: pointer;
  transition: background-color .2s linear;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;

  &:hover {
    background-color: rgb(216, 72, 16);
  }
}

.info {
  display: flex;

  &__img {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }
  &__body {
    flex-basis: 50%;
    padding: 60px 40px;
  }
  &__title {
    font-weight: bold;
    font-size: 60px;

    span {
      color: red;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__button {
    padding: 10px 20px;
  }
}

.facts-panel {
  padding: 20px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
  }
  &__facts {
    display: flex;
    justify-content: space-around;
  }
  &__bitcoin {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
  }
}

.fact {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__text {
    width: 80%;
    padding: 40px 0 20px;
    background-color: white;
    margin-top: -40px;
    box-shadow: 0 0 1px black;
    position: relative;

    p {
      margin-top: 20px;
      line-height: 1.4;
      color: grey;
    }
  }
  &__title {
    font-size: 1.5rem;
  }
  &__button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
  }
}

.footer {
  background-color: #2B2A2A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  &__sections {
    display: flex;
  }
  &__contact {
    display: flex;
    width: 450px;
    max-width: 100%;
  }
  &__contact-section {
    border-collapse: collapse;
    border: 1px solid white;
    flex-basis: 33%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: white;
      font-size: 2rem;
    }
  }
  &__social {
    display: flex;
  }
  &__social-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    
    i {
      color: white;
      font-size: 2rem;
    }
  }
  &__send {
    display: flex;
    height: 60px;
    width: 400px;
  }
  &__input {
    outline: none;
    width: 75%;
    height: 100%;
    text-indent: 20px;
    border-radius: 10px;
  }
  &__send-btn {
    cursor: pointer;
    outline: none;
    width: 25%;
    border-radius: 10px;
    height: 100%;
    background-color: red;
    color: white;
    border: none;
    margin-left: -40px;
  }
}

@keyframes nav_open {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}

@keyframes nav_close {
  from {
    right: 0;
  }
  to {
    right: -200px;
  }
}

@import "media";
