*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: poppins;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F4FF;
}

ul {
  list-style-type: none;
}

input, button {
  border: none;
  
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 25px;
}
