*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #e2e0e9;
}

ul {
  list-style-type: none;
}

input, button {
  border: none;
  
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 25px;
}

@media screen and (max-width: 487px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 25px;
  }
}
