@import "initial/reset";
@import "initial/variables";
@import "initial/mixins";
@import "initial/fonts";

@import "layout/header";
@import "layout/navs";
@import "layout/footer";

.line {
  height: 3px;
  margin: 10px 0 60px;
  background-image: linear-gradient(
    139deg
    , #fb8817, #ff4b01, #c12127, #e02aff);
}

