* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
}
.header__logo {
  font-size: 40px;
}
.header__toggle-icon {
  position: absolute;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.header__toggle-icon:hover {
  color: grey;
}
.header__close-icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: none;
}
.header__close-icon:hover {
  color: grey;
}

.nav {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}
.nav__link {
  margin: 0 60px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
.nav__link_selected {
  color: red;
}
.nav_anim-open {
  animation-name: nav_open;
}
.nav_anim-close {
  animation-name: nav_close;
}

.button {
  background-color: black;
  cursor: pointer;
  transition: background-color 0.2s linear;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.button:hover {
  background-color: #d84810;
}

.info {
  display: flex;
}
.info__img {
  flex-basis: 50%;
}
.info__img img {
  width: 100%;
}
.info__body {
  flex-basis: 50%;
  padding: 60px 40px;
}
.info__title {
  font-weight: bold;
  font-size: 60px;
}
.info__title span {
  color: red;
}
.info__text {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 50px;
}
.info__button {
  padding: 10px 20px;
}

.facts-panel {
  padding: 20px;
  text-align: center;
}
.facts-panel__title {
  margin-bottom: 30px;
}
.facts-panel__facts {
  display: flex;
  justify-content: space-around;
}
.facts-panel__bitcoin {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}

.fact {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fact__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.fact__text {
  width: 80%;
  padding: 40px 0 20px;
  background-color: white;
  margin-top: -40px;
  box-shadow: 0 0 1px black;
  position: relative;
}
.fact__text p {
  margin-top: 20px;
  line-height: 1.4;
  color: grey;
}
.fact__title {
  font-size: 1.5rem;
}
.fact__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.footer {
  background-color: #2B2A2A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.footer__sections {
  display: flex;
}
.footer__contact {
  display: flex;
  width: 450px;
  max-width: 100%;
}
.footer__contact-section {
  border-collapse: collapse;
  border: 1px solid white;
  flex-basis: 33%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__contact-section i {
  color: white;
  font-size: 2rem;
}
.footer__social {
  display: flex;
}
.footer__social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.footer__social-section i {
  color: white;
  font-size: 2rem;
}
.footer__send {
  display: flex;
  height: 60px;
  width: 400px;
}
.footer__input {
  outline: none;
  width: 75%;
  height: 100%;
  text-indent: 20px;
  border-radius: 10px;
}
.footer__send-btn {
  cursor: pointer;
  outline: none;
  width: 25%;
  border-radius: 10px;
  height: 100%;
  background-color: red;
  color: white;
  border: none;
  margin-left: -40px;
}

@keyframes nav_open {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
@keyframes nav_close {
  from {
    right: 0;
  }
  to {
    right: -200px;
  }
}
@media (max-width: 1260px) {
  .facts-panel__facts {
    flex-direction: column;
    align-items: center;
  }

  .fact {
    margin: 20px 0;
    max-width: 100%;
  }
}
@media (max-width: 1163px) {
  .footer__sections {
    flex-direction: column;
  }

  .footer__social {
    margin: 40px 0;
  }

  .footer__contact {
    width: 100%;
  }

  .footer__send {
    display: none;
    max-width: 100%;
  }
}
@media (max-width: 1031px) {
  .header__toggle-icon {
    display: inline;
  }

  .nav {
    padding: 10px 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    background-color: white;
  }
  .nav__link {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .header__close-icon {
    display: inline;
  }
}
@media (max-width: 858px) {
  .info {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
