.footer {
  display: flex;
  background-color: #282C2F;
  padding: 50px;

}

.footer__left, .footer__right {
  flex-basis: 50%;
  text-align: center;
}

.footer__left {
  
  table {
    margin: 0 auto;
    color: white;

    td {
      text-align: left;
      vertical-align: middle;
    }
  }
}

.footer__right {
  color: white;
  text-align: left;

  h3 {
    font-size: 40px;
  }

  p {
    font-weight: normal;
    margin: 40px 0;
  }
}

.header__icon {
  color: white;
  text-align: center;
  box-shadow: 0 0 5px black;
  font-size: 30px;
  background-color: #33383B;
  padding: 10px;
  // width: 50px;
  // height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer__right__links {
  display: flex;
}

.footer__right__link {
  @include perfect-center;
  font-size: 30px;
  background-color: #33383B;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px black;
  }

  &:hover .fa-facebook-f {
    color: rgb(68, 0, 255);
  }

  &:hover .fa-twitter {
    color: rgb(5, 253, 241);
  }

  &:hover .fa-youtube {
    color: rgb(255, 0, 0);
  }

  &:hover .fa-telegram {
    color: rgb(0, 255, 0);
  }
}

@media (max-width: 774px) {
  .footer {
    flex-direction: column;
  }

  .footer__right {
    margin-top: 100px;
    text-align: center;
  }

  .footer__right__links {
    justify-content: center;
  }
}
