.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  color: white;
  background-color: $header-color;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.fa-bars {
  display: none !important;
  font-size: 30px;
  position: absolute;
  right: 30px;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.header__nav-toggle {
  @include border(3px, black);
  width: 200px;
  background-color: white;
  position: fixed;
  right: -200px;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.anim-nav-open {
  animation-name: nav-open;
}

.anim-nav-close {
  animation-name: nav-close;
}

@keyframes nav-open {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}

@keyframes nav-close {
  from {
    right: 0;
  }
  to {
    right: -200px;
  }
}

.nav-toggle__times {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.nav-toggle__link {
  @include perfect-center;
  height: 50px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.header__logo {
  font-size: 2em;
  text-shadow: 0 0 5px white;
}

.nav {
  display: flex;
}

.nav__link {
  margin: 0 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 921px) {
  .header {
    justify-content: flex-start;
    padding-left: 40px;
  }

  .nav {
    display: none;
  }

  .fa-bars {
    display: inline !important;
  }
}
