.main {}

.hr {
  margin: 20px 0 100px;
}

.main__info {
  @include perfect-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 60px;
}

.main__info::before {
  content: "";
  background-image: url(../images/gallery/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
}

.info__welcome {
  text-align: center;
  z-index: 300;
  font-weight: bold;
  text-transform: uppercase;
  color: black !important;
  margin-top: 20px;
}

.main__about {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.about__item {
  flex-basis: 25%;
  padding: 20px 0;
  text-align: center;
  margin: 0 20px;
  box-shadow: 0 0 3px black;
  cursor: pointer;

  p {
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 20px;
    line-height: 2;
  }

  &:hover {
    box-shadow: 0 0 5px black;
  }
}

.about__item__border {
  @include border(3px);
  @include perfect-center;
  @include mr-auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;

  i {
    font-size: 60px;
  }
}

.main__pics {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 250px 250px;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.pics__pic {
  overflow: hidden;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width .2s linear, height .2s linear;
  }

  img:hover {
    width: 130%;
    height: 130%;
  }
}

.pic__info {
  @include perfect-center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(30, 92, 107, 0.445);
  transition: opacity .2s linear;

  &:hover {
    opacity: 1;
  }

  button {
    @include border(2px, white);
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    cursor: pointer;
  }
}

.main__reviews {
  display: flex;
  justify-content: space-evenly;
}

.label {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 100px;
}

.reviews__review {
  padding: 30px 0;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 5px black;
  transition: box-shadow .2s linear;

  h3 {
    font-size: 30px;
    margin: 15px 0;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
  }

  &:hover {
    box-shadow: 0 0 10px black;
  }
}

.review__image {
  @include border(2px);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.main__book {
  display: flex;
  padding: 20px 0;
}

.book__form, .book__address {
  text-align: center;
  flex-basis: 50%;
}

.book__form {
 
}

.form__field {
  border-bottom: 1px solid rgb(0, 238, 255);
  padding: 10px 0;
  width: 300px;
  text-indent: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.form__submit {
  @include border;
  width: 150px;
  padding: 10px 0;
  margin-top: 20px;
}

.book__address {
  
  table {
    margin: 20px auto;
    width: 400px;

    td {
      padding: 10px 0;
    }
  }
}

@media (max-width: 1151px) {
  .main__pics {
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px 250px;
  }
}

@media (max-width: 900px) {
  .main__about {
    flex-direction: column;
  }
}

@media (max-width: 814px) {
  .main__reviews {
    flex-direction: column;
    align-items: center;
  }

  .reviews__review {
    margin: 20px 0;
  }

  .main__book {
    flex-direction: column;
  }
}

@media (max-width: 796px) {
  .main__pics {
    grid-template-columns: 350px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
  }
}

@media (max-width: 710px) {
  .info__welcome {
    display: none;
  }
}

.main__link-btns {
  margin-top: 60px;
}

.main__link-btn {
  @include perfect-center;
  @include border(2px, rgb(0, 0, 0));
  font-weight: bold;
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 150px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;

  &:hover .link-btn__up {
    height: 100%;
  }

  &:hover {
    color: white;
  }
}

.link-btn__up {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: rgb(0, 0, 0);
  transition: height .2s linear;
}
