@mixin perfect-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border($size: 1px, $color: black) {
  border: $size solid $color;
}

@mixin mr-auto() {
  margin: 0 auto;
}
