$popup-width: 400px;
$popup-height: 200px;

.popup {
  @include border;
  @include perfect-center;
  background-color: white;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: -($popup-height);
  margin-left: -($popup-width / 2);
  width: $popup-width;
  height: $popup-height;
  text-align: center;
  z-index: 1000;
  animation: {
    duration: .3s;
    timing-function: linear;
    fill-mode: forwards;
  }
}

.popup__content {
  font-weight: bold;
}

.popup__close-btn {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-image: linear-gradient(to right, rgb(21, 40, 209), rgb(40, 123, 129));
  color: white;
  font-size: 1.3em;
  border-radius: 40px;
  cursor: pointer;
}

.anim-down {
  animation-name: down;
}

.anim-up {
  animation-name: up;
}

@keyframes down {
  from {
    top: -$popup-height;
  }
  to {
    top: 150px;
  }
}

@keyframes up {
  from {
    top: 150px;
  }
  to {
    top: -$popup-height;
  }
}
