.main {
  width: 60%;
  margin: 0 auto;
}

.about {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}
.about__hello {
  font-size: 35px;
  font-weight: bold;
  color: #0f0f0f;
}
.about__img-container {
  background-color: #e7e7e7;
  flex-basis: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.about__avatar {
  border-radius: 50%;
  z-index: 2;
  height: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: bottom 0.2s linear, left 0.2s linear;
}
.about__avatar:hover {
  bottom: 20px;
  left: 20px;
}
.about__text {
  padding: 10px;
  padding-left: 30px;
  white-space: pre-line;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}
.about__sub-text {
  color: rgba(0, 0, 0, 0.29);
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 615px) {
  .about {
    margin-top: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__img-container {
    flex-basis: initial;
    width: 150px;
    height: 150px;
  }
  .about__avatar {
    position: static;
  }
  .about__text {
    color: black;
    margin-top: 30px;
    padding: 5px;
  }
}
.info {
  margin-top: 100px;
}
.info__table {
  margin-top: 30px;
}
.info__table-cell {
  padding: 20px;
}

.skills {
  margin-top: 100px;
}
.skills__list {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.skills__skill {
  background-color: white;
  position: relative;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.skills__skill:hover {
  transform: translateY(-10px);
}
.skills__skill::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  background-color: black;
  z-index: 1;
}
.skills__skill:nth-child(1)::after {
  background-color: #3ec9f3;
}
.skills__skill:nth-child(2)::after {
  background-color: #10b92c;
}
.skills__skill:nth-child(3)::after {
  background-color: #db6b02;
}
.skills__skill:nth-child(4)::after {
  background-color: #0f82a5;
}
.skills__skill:nth-child(5)::after {
  background-color: #a606ce;
}
.skills__skill:nth-child(6)::after {
  background-color: #d30f0f;
}
.skills__skill-img {
  height: 60px;
}
.skills__skill-title {
  user-select: none;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 526px) {
  .skills {
    margin-top: 50px;
  }
  .skills__list {
    grid-template-columns: auto;
    grid-gap: 5px;
  }
  .skills__skill {
    box-shadow: none;
  }
  .skills__skill-img {
    height: 40px;
  }
  .skills__skill-title {
    font-size: 24px;
  }
}
.languages {
  margin-top: 100px;
}
.languages__table {
  border: none;
  padding: 10px;
  border-collapse: collapse;
  width: 70%;
}
.languages__row:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
}
.languages__cell {
  width: 50%;
  padding: 20px 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.languages__cell:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.452);
}
.languages__cell-sub {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.384);
}
.languages__lang-bar {
  width: 100%;
  height: 20px;
  border-radius: 35px;
  background-color: #e0e0e0;
}
.languages__lang-bar-inner {
  height: 100%;
  background-color: #7e62b1;
  border-radius: 35px;
}
.languages__lang-bar-inner--fluent {
  width: 100%;
}
.languages__lang-bar-inner--c1 {
  width: 70%;
}

@media screen and (max-width: 704px) {
  .languages {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .languages__cell {
    font-size: 16px;
  }
  .languages__cell-sub {
    font-size: 13px;
  }
  .languages__table {
    width: 100%;
  }
}
@media screen and (max-width: 467px) {
  .languages__cell {
    font-size: 16px;
    padding: 10px 5px;
  }
  .languages__lang-bar {
    height: 15px;
  }
}
.why-choose {
  margin-top: 100px;
}
.why-choose__list {
  display: flex;
  justify-content: space-around;
}
.why-choose__item {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.why-choose__item-img {
  width: px;
  height: 100px;
  border: 1px solid black;
}
.why-choose__item-title {
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 916px) {
  .main {
    width: 100%;
    padding: 0 15px;
  }
}

/*# sourceMappingURL=about.css.map */
