.header {
  position: relative;
  height: 500px;
  background-image: url(../images/house.jpg);
  background-attachment: fixed;
  background-position: center;
}

.header__bars {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}

.header__times {
  font-size: 26px;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__times:hover {
  color: grey;
  cursor: pointer;
}

.header__open {
  text-align: center;
  display: none;
  width: 150px;
  background-color: white;
  position: fixed;
  top: 0;
  right: -150px;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animate-open {
  animation-name: open;
}

.animate-close {
  animation-name: close;
}

@keyframes open {
  from {
    right: -150px;
  }
  to {
    right: 0;
  }
}

@keyframes close {
  from {
    right: 0;
  }
  to {
    right: -150px;
  }
}

.open__nav {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.open__nav__link {
  margin: 10px 0;
  cursor: pointer;
}

.header__bars:hover {
  color: black;
}

.nav {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
}

.nav__link {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  margin: 0 30px;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  border-color: transparent;
}

.nav__link:hover {
  border-color: white;
}

.header__logo {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
}

@media (max-width: 517px) {
  .nav {
    display: none;
  }

  .header__open, .header__bars {
    display: initial;
  }
}

