body {
  padding: 0 70px;
  min-height: 2000px;
  background-color: #ccc;
}

p {
  font-family: sans-serif;
}

.wrapper {
  background-color: white;
}

@media (max-width: 916px) {
  body {
    padding: 0 0;
  }
}