:root {
  --b1: 1px solid black;
}

.main {
  text-align: center;
  padding: 30px;
}

.main__welcome {
  font-weight: normal;
  font-size: 2em;
}

.main__about {
  margin: 50px 0;
  font-size: 1.3em;
}

.main__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__btn {
  margin: 0 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  font-size: 1.5em;
  padding: 10px 15px;
  background-color: white;
  border: 3px solid #2F956D;
  color: #2F956D;
  transition-property: background;
  transition-duration: 0.5s;
}

.main__btn:hover {
  color: white;
  background-color: #2F956D;
}

.main__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.main__product {
  width: 270px;
  margin: 0 10px;
  min-height: 300px;
  text-align: left;
}

.product__img {
  width: 100%;
  cursor: pointer;
}

.product__title {
  color: #1A6692;
  margin: 10px 0;
  font-weight: normal;
}

.product__about {
  line-height: 1.8;
}

.product__price {
  color: #2F956D;
  margin-top: 10px;
  font-size: 1.8em;
}

.main__contact{
  display: flex;
  padding: 10px;
  justify-content: center;
}

.contact__form {
  flex-grow: 1;
}

.contact__form textarea {
  resize: vertical;
}

.contact__address {
  text-align: left;
  flex-grow: 1;
  font-family: sans-serif;
}

.contact__address h2 {
  color: #2F956D;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: normal;
}

.contact__address p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.address__icon{
  font-size: 24px;
  color: #2F956D;
  vertical-align: middle;
  line-height: 2;
}

.form__field {
  padding: 10px 0;
  border: none;
  border: 3px solid transparent;
  border-bottom: 1px solid black;
  text-indent: 5px;
  width: 400px;
  font-size: 25px;
  margin: 15px 0;
}

.form__submit {
  padding: 15px 30px;
  font-weight: bold;
  background-color: #2F956D;
  color: white;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}

.form__submit:hover {
  background-color: #1d6e46;
}

.form__field:focus {
  outline: none;
  border: 3px solid lightblue;
}

@media (max-width: 706px) {
  .main__btns {
    flex-direction: column;
    align-items: center;
  }

  .main__btn {
    margin: 10px 0;
  }
}

@media (max-width: 911px) {
  .main__contact {
    flex-direction: column;
    align-items: center;
  }

  .contact__form {
    border: var(--b1);
  }

  .form__field {
    width: 100%;
  }
}
