.header {
  @include perfect-center();
  padding: 20px;
  height: 400px;
  background-position: center;
  background: {
    image: url(../images/bg.jpg);
    size: cover;
    attachment: fixed;
  }

  h1 {
    position: fixed;
  }
}

.header__label {
  color: white;
  font-size: 40px;

  &::selection {
    background-color: white;
    color: black;
  }
}