.main {

}

.main__images {
  display: grid;
  padding: 40px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}

.images__image {
  position: relative;
  height: 400px;
  
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
  }

  &:hover .image__info {
    opacity: 1;
  }
}

.image__info {
  @include perfect-center;
  flex-direction: column;
  opacity: 0;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 116, 156, 0.671);
  transition: {
    property: opacity;
    duration: .2s;
    timing-function: linear;
  }

  h2 {
    font-size: 30px;
  }

  div {
    font-size: 20px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media (max-width: 948px) {
  .main__images {
    grid-template-columns: auto;
  }
}

.fa-image {
  
}
